.about_us {
  max-width: 1166px;

  @media (max-width: $tablet-width-only) {
    max-width: 556px;
  }
}

.about_us__header {
  margin-top: 150px;
  margin-bottom: 102px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $grey-dark;

  @media (max-width: $tablet-width-only) {
    margin-top: 162px;
    margin-bottom: 85px;
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 245px;
    margin-bottom: 81px;
  }
}

.about_us__list {
  display: flex;
  // flex-wrap: wrap; ломает верстку
  justify-content: space-between;
  padding: 0;
  margin-bottom: 152px;
  list-style-type: none;
  counter-reset: num;

  @media (max-width: $tablet-width-only) {
    flex-wrap: wrap;
    margin-bottom: -23px;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    margin-bottom: 0;
  }
}

.about_us__item {
  position: relative;
  width: 263px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 93px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 89px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }

  &::before {
    content: "0" counter(num);
    counter-increment: num;
    position: absolute;
    top: -52px;
    left: 50%;
    transform: translateX(-50%);
    color: $btn-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;

    @media (max-width: $mobile-width-only) {
      top: -46px;
    }
  }
}
