.city {
  &--first {
    margin-left: 38px;
  }

  &--second {
    margin-left: auto;
    margin-right: 51px;
  }

  &--third {
    margin-left: 108px;
    margin-right: auto;
  }
}

.city-item {
  margin-bottom: 10px;
  color: rgba(20, 21, 23, 0.5);
  font-size: 14px;
  line-height: 17px;
}
