.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-image: url("../img/comment-bg.png");
  background-size: cover, 320px 415px;
  min-height: 415px;
  background-color: cadetblue;
  background-position: center;
  background-repeat: no-repeat;
}

.comment__block {
  margin-top: 60px;
  text-align: center;
  background-color: #ffffff;
  width: 268px;
  height: 431px;
}

.comment__title {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  text-align: center;
  color: #2C2E3F;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  border-bottom: 1px solid #FE7865;
}

.comment__paragraph {
  font-size: 14px;
  line-height: 28px;
  margin: 0 25px;
}

.comment__img {
  margin-top: 50px;
}

.comment__name {
  font-family: "Poppins", "Arial", sans-serif;
  color: #2C2E3F;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .comment {
    background-image: url("../img/comment-bg-tablet.png");
    background-size: cover, 768px 415px;
  }

  .comment__block {
    margin-top: 80px;
    text-align: left;
    width: 382px;
    height: 367px;
  }

  .comment__title {
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;
    font-size: 30px;
    line-height: 37px;
    border-bottom: 1px solid #FE7865;
  }

  .comment__paragraph {
    margin: 0 40px;
  }

  .comment__author {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }

  .comment__img {
    margin-top: 0;
    margin-left: 40px;
    height: 38px;
  }

  .comment__name {
    margin-left: 16px;
  }
}
