.contacts {
  padding-top: 151px;
  padding-bottom: 98px;

  @media (max-width: $tablet-width-only) {
    padding-top: 66px;
    padding-bottom: 53px;
  }

  & h2 {
    text-align: center;
    margin: 0 0 27px 0;
    padding-right: 9px;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.005em;
    color: $grey-dark;

    @media (max-width: $tablet-width-only) {
      margin-bottom: 20px;
      padding-left: 9px;
      font-size: 24px;
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  & h3 {
    text-align: center;
    margin: 0 0 41px 0;
    padding-right: 13px;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    color: $black-07;

    @media (max-width: $tablet-width-only) {
      margin-bottom: 20px;
      padding-right: 0;

      & br {
        display: none;
      }
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;
    }
  }
}

.contacts__email,
.contacts__telephone {
  display: inline;
  position: relative;
  color: $black-05;

  @media (max-width: $mobile-width-only) {
    display: block;
  }

  &:hover {
    color: $main-acsent;
  }

  &:active {
    color: $black;
  }
}

.contacts__telephone {
  margin-left: 127px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.4px;

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
    padding-left: 24px;
    text-align: center;
  }

  &::after {
    content: "";
    position: absolute;
    left: -39px;
    top: -3px;
    width: 22px;
    height: 23px;
    background-image: url("../../img/phone.svg");

    @media (max-width: $mobile-width-only) {
      top: 3px;
      left: 18%;
    }
  }
}

.contacts__email {
  margin-left: 33.2%;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $tablet-width-only) {
    margin-left: 19%;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
    padding-left: 48px;
    text-align: center;
  }

  &::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 26px;
    height: 20px;
    background-image: url("../../img/post.svg");

    @media (max-width: $mobile-width-only) {
      left: 9.5%;
    }
  }
}

.contacts__frame {
  margin-bottom: 32px;
  margin-left: 17%;
  height: 530px;
  max-width: 957px;
  width: 100%;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 15px;
    margin-left: 35px;
    margin-right: 35px;
    max-width: 698px;
    height: 545px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 13px;
    margin-left: 0;
    margin-right: 0;
    height: 250px;
  }
}
