.contacts {
  padding-top: 151px;
  padding-bottom: 98px;

  @media (max-width: $tablet-width-only) {
    padding-top: 70px;
    padding-bottom: 53px;
  }
}

.contacts__header {
  text-align: center;
  margin: 0 0 30px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $grey-dark;


  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.contacts__address {
  text-align: center;
  margin: 0 0 41px 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  color: $black-07;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 20px;

    & br {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 25px;
  }
}

.contacts__email,
.contacts__telephone {
  display: inline;
  position: relative;
  color: $black-05;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.contacts__telephone {
  margin-left: 127px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.4px;

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
    text-align: center;
  }

  &::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 22px;
    height: 23px;
    background-image: url("../../img/phone.svg");

    @media (max-width: $mobile-width-only) {
      left: 25%;
    }
  }
}

.contacts__email {
  margin-left: 237px;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
    text-align: center;
  }

  &::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 26px;
    height: 20px;
    background-image: url("../../img/post.svg");

    @media (max-width: $mobile-width-only) {
      left: 18%;
    }
  }

  // &--hidden {
  //   @media (max-width: $tablet-width-only) {
  //     display: none;
  //   }
  // }

  // &--show {
  //   display: none;

  //   @media (max-width: $tablet-width-only) {
  //     display: block;
  //     width: 60px;
  //   }
  // }
}

// .location {
//   position: relative;
//   height: 360px;

//   @media (min-width: $tablet-width) {
//     height: 400px;
//   }
// }

// .location__map {
//   position: relative;
//   width: 100%;
//   height: 360px;

//   @media (min-width: $tablet-width) {
//     height: 400px;
//   }

//   &::before {
//     content: "";
//     position: absolute;
//     top: 139px;
//     left: 134px;
//     width: 57px;
//     height: 53px;
//     background-image: url("../img/map-pin.png");
//     background-repeat: no-repeat;
//     background-position: 0 0;
//     z-index: 10;

//     @media (min-width: $tablet-width) {
//       top: 146px;
//       left: 333px;
//       width: 113px;
//       height: 106px;
//     }

//     @media (min-width: $tablet-width) {
//       top: 131px;
//       left: 908px;
//     }
//   }
// }

.contacts__frame {
  margin-bottom: 39px;
  height: 530px;
  width: 957px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 35px;
    height: 545px;
    width: 100%;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 31px;
    margin-left: 0;
    margin-right: 0;
    height: 250px;
  }
}
