.description-cards__block {
  text-align: center;
}

.description-cards__slide-title {
  color: #2C2E3F;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .description-cards {
    margin-top: 80px;
  }

  .description-cards__slide-title {
    font-size: 30px;
    line-height: 45px;
  }
}
