.inquirer__background {
  display: flex;
  flex-direction: column;
  padding: 50px 6.25%;
  text-align: center;
  background-color: #FBF8F8;
}

.inquirer__title {
  color: #141517;
  font-size: 25px;
  line-height: 32px;
}

.inquirer__paragraph {
  color: #141517;
  font-size: 16px;
  line-height: 24px;
}

.inquirer__input {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  color: #141517;
  background-color: #ffffff;
  border: 1px solid rgba(44, 46, 63, 0.3);
  outline: none;
}

.inquirer__input::placeholder {
  color: #141517;
  font-size: 14px;
  line-height: 17px;
}

@media (min-width: 768px) {
  .inquirer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 55px;
    background-image: url("../img/inquirer-bg-tablet.png");
    background-size: cover, 768px 455px;
    min-height: 455px;
    background-color: hotpink;
    background-position: center;
    background-repeat: no-repeat;
  }

  .inquirer__background {
    justify-content: center;
    align-items: center;
    padding: 0 6.25%;
    width: 658px;
    height: 311px;
  }

  .inquirer__title {
    margin-bottom: 0;
  }

  .inquirer__paragraph {
    margin-top: 11px;
  }

  .inquirer__wrapper {
    display: flex;
  }

  .inquirer__input {
    margin-left: 20px;
    width: 269px;
  }

  .inquirer__button {
    width: 250px;
  }
}

@media (min-width: 1024px) {
  .inquirer {
    padding: 0;
    background-image: url("../img/inquirer-bg-desktop.png");
    background-size: cover, 844px 455px;
    min-height: 455px;
    width: 844px;
    height: 455px;
  }

  .inquirer__background {
    margin-left: 520px;
  }
}
