.list {
  display: flex;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
}

.list__item {
  color: rgba(44, 46, 63, 0.3);
  font-size: 20px;
  line-height: 24px;
}

.active {
  color: #FE7865;
}

@media (min-width: 768px) {
  .hidden-tablet {
    display: block;
  }
}

@media (min-width: 1024px) {
  .list__item {
    margin-left: 75px;
  }
}
