.main-header {
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 832px;
  color: $white;
  background-color: $black;
  background-image: url("../../img/bike_desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../../img/bike_desktop@2x.png");
  }

  @media (max-width: $tablet-width-only) {
    display: block;
    height: 347px;
    background-image: url("../../img/bike_tablet@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../../img/bike_tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width-only) {
    height: 396px;
    background-image: url("../../img/bike_mobile@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../../img/bike_mobile@2x.png");
    }
  }
}

.main-header__link {
  position: absolute;
  top: 325px;
  left: 19.5%;
  z-index: 1;
  background: transparent;

  @media (max-width: $tablet-width-only) {
    position: static;
    display: block;
    padding-left: 22px;
    padding-top: 32px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 17px;
    padding-top: 31px;
  }
}

.main-header__nav {
  display: flex;
  justify-content: space-between;
  margin-top: -390px;
  margin-bottom: 9px;
  padding: 0 10px 10px 10px;
  width: 873px;
  border-bottom: 1px solid $white-02;
  list-style-type: none;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-header__part {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  border: none;

  & img {
    border: none;
  }

  &:hover {
    cursor: pointer;
    color: $main-acsent;
  }

  & a {
    padding: 10px;
  }

  & a:focus {
    color: $main-acsent;
    outline-offset: 4px;
    outline: 2px solid $main-acsent;
  }

  & a:active {
    color: $main-acsent;
    outline-offset: 6px;
    outline: 2px solid $main-acsent;
  }
}

.main-header__button {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: block;
    position: absolute;
    width: 50px;
    height: 57px;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    background-color: $main-acsent;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: 14px;
      width: 23px;
      height: 1px;
      background-color: $black;
      cursor: pointer;
      box-shadow:
        0 6px 0 0 $black,
        0 12px 0 0 $black;

      @media (max-width: $mobile-width-only) {
        top: 25px;
      }
    }

    &--clicked {
      display: none;
    }
  }

  // Если JS не загрузился
  &--no-js {
    @media (max-width: $tablet-width-only) {
      display: none;
    }
  }
}
