.menu-compact {
  position: relative;
  display: none;

  @media (max-width: $tablet-width-only) {
    display: block;
    padding-top: 100px;
    width: 100%;
  }

  &--closed {
    display: none;
  }
}

.menu-compact__list {
  margin-top: 0;
  margin-bottom: 134px;
  padding: 0;
  list-style-type: none;
}

.menu-compact__item {
  position: relative;
  margin-bottom: 30px;
  min-height: 60px;
  color: $hidemenu-color;
  background-color: $hidemenu-background;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  & a {
    display: block;
    padding-top: 16px;
    padding-left: 17px;
    padding-bottom: 16px;
  }

  &:hover {
    color: $main-acsent;
    cursor: pointer;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;

    right: 20px;
    width: 15px;
    height: 4px;
    border-radius: 2px;
    background-color: $hidemenu-check;
  }

  &::before {
    top: 22px;
    transform: rotate(45deg);
  }

  &::after {
    top: 32px;
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $main-acsent;
  }
}

.menu-compact__close {
  position: absolute;
  top: 0;
  right: 28px;
  width: 50px;
  height: 52px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &--no-js {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 6px;
    width: 40px;
    height: 2px;
    border-radius: 2px;
    background-color: $hidemenu-cross;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::after {
    transform: scale(1.1)  rotate(-45deg);
    background-color: $main-acsent;
  }

  &:hover::before {
    transform: scale(1.1)  rotate(45deg);
    background-color: $main-acsent;
  }
}
