.order {
  margin: 0;
  margin-top: -15px;
  background: transparent;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 100px;
  }

  h3 {
    margin-bottom: 19px;
    width: 327px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: $white;

    @media (max-width: $tablet-width-only) {
      font-size: 18px;
      color: $black;
      margin: 0 auto 30px auto;
    }

    @media (max-width: $mobile-width-only) {
      width: auto;
      margin-bottom: 20px;
    }
  }
}

.order__name input,
.order__telephone input {
  display: block;
  margin-bottom: 20px;
  padding-left: 30px;
  width: 327px;
  height: 48px;
  border: 1px solid $grey-border;
  border-radius: 4px;
  color: $input-color;
  font-size: 15px;
  line-height: 24px;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto 20px auto;
    padding-left: 21px;
    width: 321px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 19px;
    width: 288px;
  }

  &:hover {
    border: 1px solid $main-acsent;
  }
}

.order__telephone input {
  border-radius: 6px;
}

.order__submit {
  padding: 0;
  width: 326px;
  height: 51px;
  border: none;
  color: $black;
  background-color: $main-acsent;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  @media (max-width: $tablet-width-only) {
    width: 321px;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
  }

  &:hover {
    opacity: 0.8;
  }
}
