.page-main__title {
  margin-top: 108px;
  text-align: center;
  color: #2C2E3F;
  font-size: 24px;
  font-weight: 600;
}

.page-main__paragraph {
  text-align: center;
}

@media (min-width: 768px) {
  .page-main {
    margin-top: 50px;
  }

  .page-main__title {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 45px;
  }

  .page-main__paragraph {
    margin-bottom: 30px;
    width: 343px;
    font-size: 16px;
    line-height: 28px;
  }

  .page-main__button {
    width: 250px;
  }
}

@media (min-width: 1024px) {
  .page-main__title {
    padding: 0 0 0 30px;
    margin-top: 400px;
    text-align: left;
    font-size: 55px;
    line-height: 80px;
    width: 358px;
    border-bottom: 4px solid #FE7865;
  }

  .page-main__paragraph {
    padding: 0 0 0 30px;
    text-align: left;
    width: 328px;
  }
}
