.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  padding: 0 6.25%;
  text-align: center;
}

.page-footer__countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #D7D9DF;
}

.page-footer__title {
  color: #141517;
  font-size: 18px;
  line-height: 32px;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-footer__cities {
  margin: 10px 20px;
  padding: 0;
  list-style: none;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #D7D9DF;
}

.page-footer__contacts-paragraph a {
  color: #FE7865;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0 21px;
    text-align: left;
  }

  .page-footer__title {
    margin-top: 0;
  }

  .page-footer__countries {
    margin-bottom: 20px;
    align-items: start;
    border-right: 1px solid #D7D9DF;;
    border-bottom: none;
  }

  .page-footer__cities {
    margin-right: 60px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .page-footer__contacts {
    align-items: start;
    margin-left: 120px;
    width: 202px;
    border-bottom: none;
  }

  .page-footer__team-building {
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid #D7D9DF;
  }
}
