.promo {
  margin: 0;
  padding-top: 48px;
  background: transparent;
  height: 860px;

  // @media (max-width: $mobile-width-only) {
  //   padding-top: 82px;
  //   margin-bottom: 306px;
  //   height: 235px;
  //   background-image: url("../../img/bike_mobile@1x.png");

  //   @media (min-resolution: 1.5dppx) {
  //     background-image: url("../../img/bike_mobile@2x.png");
  //   }
  // }
}

.promo__header {
  margin: 0 0 24px 0;
  width: 412px;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $white;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 20px;
    width: 100%;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.promo__slogan {
  margin: 0;
  width: 375px;
  color: $white;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;

  @media (max-width: $tablet-width-only) {
    width: 435px;
    margin: 0 auto 0 auto;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    width: auto;
    // margin-bottom: 20px;
  }
}
