.variants {
  padding-top: 149px;
  padding-bottom: 148px;
  background-color: $grey-background;

  @media (max-width: $tablet-width-only) {
    padding-top: 58px;
    padding-bottom: 21px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 128px;
    padding-bottom: 15px;
  }
}

.variants__header {
  margin: 0 0 51px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $grey-dark;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 35px;
    font-size: 24px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 35px;
  }
}

.variants__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto 0 auto;
  max-width: 1126px;

  @media (max-width: $tablet-width-only) {
    justify-content: space-around;
    margin-bottom: -3px;
    max-width: 636px;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    width: 270px;
  }
}

.variants__item {
  position: relative;
  z-index: 1;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 52px;

    & img {
      width: 270px;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 44px;
  }

  &--ring {
    margin-top: 10px;

    @media (max-width: $tablet-width-only) {
      margin-top: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: -60px;
      top: 157px;
      width: 180px;
      height: 180px;
      z-index: -1;
      background-image: url("../../img/ring.svg");

      @media (max-width: $tablet-width-only) {
        left: -37px;
        top: 200px;
        width: 127px;
        height: 127px;
        background-image: url("../../img/ring-middle.svg");
      }

      @media (max-width: $mobile-width-only) {
        left: -25px;
      }
    }
  }

  &--square {
    margin-top: 39px;

    @media (max-width: $tablet-width-only) {
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 47px;
        height: 47px;
        background-image: url("../../img/square.svg");
      }

      &::after {
        left: -19px;
        top: -18px;
      }

      &::before {
        right: -23px;
        bottom: 32px;
      }
      }
  }

  &--ring-little {
    &::after {
      content: "";
      position: absolute;
      right: -36px;
      top: -32px;
      width: 95px;
      height: 95px;
      background-image: url("../../img/ring-little.svg");

      @media (max-width: $tablet-width-only) {
        right: -24px;
        top: -23px;
        width: 68px;
        height: 68px;
        background-image: url("../../img/ring-least.svg");
      }

      @media (max-width: $mobile-width-only) {
        right: -15px;
      }
    }
  }
}

.variants__title {
  margin-top: 18px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.7px;
  text-align: center;
  color: $dark;

  @media (max-width: $tablet-width-only) {
    margin-top: 15px;
  }
}
