.video {

}

.video__wrap {
  padding-top: 120px;
  padding-bottom: 480px;
  background-color: $video-background;

  @media (max-width: $tablet-width-only) {
    padding-top: 70px;
    padding-bottom: 237px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 84px;
  }
}

.video__header {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white;

  @media (max-width: $tablet-width-only) {
    font-size: 24px;
  }
}

.video__text {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $white;

  @media (max-width: $mobile-width-only) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.video__br {
  @media (max-width: $tablet-width-only) {
    display: none;
  }

  &--tablet {
    display: none;

    @media (max-width: $tablet-width-only) {
      display: inline;
    }

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.video__player {
  position: relative;
  margin-top: -424px;
  margin-left: 18%;

  @media (max-width: $tablet-width-only) {
    margin-top: -224px;
    margin-left: 25%;
    width: 503px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 16px;
    margin-right: 16px;
    width: auto;
  }
}

.video__btn {
  position: absolute;
  top: 229px;
  left: 37%;
  // transform: translateX(-50%);
  background: transparent;
  border: none;

  @media (max-width: $tablet-width-only) {
    top: 129px;
    left: 50%;
    transform: translateX(-50%);
  }
}
