.wrap-promo-order {
  display: flex;
  justify-content: space-between;
  margin-top: 369px;
  width: 880px;
  height: 504px;

  @media (max-width: $tablet-width-only) {
    display: block;
    margin-top: 134px;
    width: 100%;
    height: auto;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 120px;
  }
}
