body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: rgba(44, 46, 63, 0.7);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.hidden-tablet {
  display: none;
}

.hidden-desktop {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;

  &--header {
    max-width: 1920px;
  }
}

@media (min-width: 1024px) {
  .hidden-desktop {
    display: block;
  }

  .wrapper {
    padding: 0;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    padding: 0;
  }
}
