.button {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  min-width: 180px;
  color: #ffffff;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  background-color: #FE7865;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: pink;
  }

  &:active {
    background-color: pink;
  }

  &:disabled {
    background-color: pink;
  }
}
