@import "base/base.scss";
@import "base/button.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/list.scss";
@import "blocks/description-cards.scss";
@import "blocks/comment.scss";
@import "blocks/prices.scss";
@import "blocks/about.scss";
@import "blocks/inquirer.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-footer.scss";
@import "blocks/city.scss";
@import "utils/variables.scss";
